{% extends 'index.html' %}

{% block body %}

<div class="container" id=myrow>
    <div class="row">
        <pre>
            Welcome to PackageBuddy!
            I know handling the packages is a pain. Guess what? Package Buddy is here to solve the trouble of logging each package manually. We will log it for you on the go!

            This a Capstone Project under the guidance of our professor "DR.VAHID HADAVI" is prepared by:
            -Rohit Nanawati
            -Sandeep Hasnabade
            -Shah Razzakh Mohmmed
            -Thi Truc Van, Tran



        </pre>
    </div>
</div>
<style>
    #myrow{
        background-color:#EBEDEF;
    }

</style>
{% endblock  %}